@forward './styles/lib/elevation.scss';
@forward './styles/lib/github-markdown.scss';

@forward './styles/topbar.scss';
@forward './styles/summary-item.scss';
@forward './styles/home.scss';

@import "./styles/bootstrap-variables.scss";
@import "bootstrap/scss/bootstrap";

:root {
  --on-primary: #FFF;
  --text-primary: rgba(0, 0, 0, 0.87);
  --text-secondary: rgba(0, 0, 0, 0.64);
}

main {
  margin: 62px auto 82px auto;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 960px !important;
}